<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>chuckNorris</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1> Joke Chuck Norris</h1>

<p th:text="${jokes}"><</p>
</body>
</html>